.title-chat {
  margin-bottom: 30px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  color: #d74a4a; }

.title-header {
  color: white; }

#input-name {
  margin: 10px 0px; }

#input-room {
  margin: 10px 0px; }

#input-message {
  width: calc(100% - 135px);
  font-size: 16px;
  padding: 2px 8px;
  border-radius: 4px; }

.navbar-expand-lg.navbar {
  font-size: 20px;
  background-image: linear-gradient(to bottom, #f1f1f1, #ddd); }

.message__row1 {
  display: flex;
  align-items: flex-end; }
  .message__row1 p {
    margin-bottom: 0; }
  .message__row1 .message__date {
    margin-left: 30px;
    color: #181010;
    font-size: 12px; }

#block-chat {
  display: flex;
  width: 100%;
  margin-bottom: 12px; }
  #block-chat #list-user-block {
    padding: 20px;
    width: calc(30% - 12px);
    border: 2px solid #35d568;
    animation: pulse-border 2s infinite;
    border-radius: 20px;
    margin-left: 12px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    background-color: #f5f5f5;
    background-color: #fff;
    background-image: none; }
  #block-chat #message-block {
    height: 60vh;
    width: 100%;
    overflow: auto;
    flex: 1; }
  #block-chat .full-message-block {
    width: 70%;
    border: 2px solid #35d568;
    animation: pulse-border 2s infinite;
    border-radius: 20px;
    background: linear-gradient(to bottom, #fff, #b5b1b1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 20px; }
  #block-chat h5 {
    margin-left: 10px; }

@keyframes pulse-border {
  0% {
    border-color: #35d568; }
  50% {
    border-color: #05763a; }
  100% {
    border-color: #35d568; } }

.btn-outline-success {
  position: absolute;
  top: 8px;
  right: 10px;
  border-radius: 8px;
  font-size: 20px; }

.form-room {
  width: 60vw;
  height: 60vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid 0.1px #0084ff;
  border-radius: 50px;
  background: linear-gradient(to bottom, rgba(0, 153, 255, 0), rgba(0, 153, 255, 0.5));
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); }

.title {
  display: flex;
  justify-content: center;
  color: #0063bf; }

.input-info-room {
  padding: 10px 40px;
  width: 100%;
  font-size: 20px;
  border: solid 0.1px;
  border-radius: 10px; }

.input-form-room {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.form-input-room {
  width: 500px; }

.link-create-room {
  font-size: 20px;
  margin-left: 10px; }

.label-form-create {
  font-size: 20px;
  margin: 13px 0px 2px 5px; }

.btn-send-mess {
  padding: 2px 8px;
  font-size: 16px;
  background-color: #0084ff;
  color: #fff;
  border-color: #0084ff;
  border-radius: 4px; }

.btn-send-mess:hover {
  opacity: 0.6; }

.input-login {
  padding: 10px 40px;
  width: 100%;
  font-size: 20px; }

.lable-login {
  font-size: 20px;
  margin: 13px 0px 2px 5px; }

.btn-login {
  font-size: 20px;
  padding: 2px 8px;
  background-color: #0084ff;
  color: #fff;
  border-color: #0084ff;
  border-radius: 4px; }

.btn-login:hover {
  opacity: 0.6; }

.block-btn-login {
  margin-top: 10px; }
