body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

.title-chat {
  margin-bottom: 30px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  color: #d74a4a; }

.title-header {
  color: white; }

.container {
  width: 100%;
  max-width: 100%;
  height: 100%;
  padding: 0; }

#input-name {
  margin: 10px 0px; }

#input-room {
  margin: 10px 0px; }

#input-message {
  width: calc(100% - 88px);
  font-size: 16px;
  padding: 4px 8px;
  border: none;
  background-color: #F0F2F5;
  border-radius: 50px; }

#input-message:focus {
  outline: none; }

.navbar-expand-lg.navbar {
  padding: 0;
  font-size: 20px;
  background-image: linear-gradient(to bottom, #ffffff, #ddd); }
  .navbar-expand-lg.navbar .navbar-brand {
    padding: 0.8rem;
    margin: 0; }
  .navbar-expand-lg.navbar .nav-link {
    padding: 0.8rem 0.5rem; }
  .navbar-expand-lg.navbar .navbar-brand:hover {
    cursor: pointer;
    background-color: #fff; }
  .navbar-expand-lg.navbar .nav-link:hover {
    cursor: pointer;
    background-color: #fff; }

.message__row1 {
  display: flex;
  align-items: flex-end; }
  .message__row1 p {
    margin-top: 0; }

.message__row2 {
  max-width: 50%;
  width: fit-content;
  position: relative; }
  .message__row2 .message__content {
    padding: 6px 12px;
    margin: 0 0 15px;
    width: fit-content;
    min-width: 40px;
    display: flex;
    justify-content: center;
    background-color: #0084ff;
    color: #fff;
    border-radius: 18px;
    overflow-wrap: break-word; }
  .message__row2 .message__date {
    color: #181010;
    font-size: 10px;
    position: absolute;
    top: 100%;
    white-space: nowrap;
    display: none; }

.message__row2:hover > .message__date {
  display: block; }

#block-chat {
  display: flex;
  width: 100%;
  height: calc(100vh - 55.6px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
  #block-chat #list-user-block {
    width: 20vw;
    border: 1px solid #b5b0b0;
    background-color: #f5f5f5;
    background-color: #fff;
    background-image: none; }
    #block-chat #list-user-block .search-friend {
      width: calc(100% - 10px);
      margin: 5px;
      padding: 6px 10px;
      border-radius: 40px;
      border: none;
      background-color: #F0F2F5; }
    #block-chat #list-user-block .search-friend:focus {
      outline: none; }
    #block-chat #list-user-block .friend-item {
      margin: 0 5px;
      width: calc(100% - 10px);
      padding: 10px 10px;
      font-size: 18px;
      font-weight: 450;
      background-color: #fff;
      border: none; }
    #block-chat #list-user-block .friend-item:hover {
      background-color: #dad5d5;
      cursor: pointer;
      border-radius: 8px; }
  #block-chat #message-block {
    height: calc(100% - 72.8px - 48px);
    width: 100%;
    overflow: auto;
    flex: 1;
    padding: 0 20px;
    border: 1px solid #b5b0b0;
    background: #dcdcdc; }
  #block-chat .full-message-block {
    width: 80vw;
    border: 1px solid #b5b0b0; }
    #block-chat .full-message-block .username-inbox {
      background-color: #fff;
      width: 100%;
      padding: 10px 20px 10px 10px; }
      #block-chat .full-message-block .username-inbox .block-username {
        display: inline-block;
        padding: 0 10px; }
        #block-chat .full-message-block .username-inbox .block-username h4 {
          display: block;
          margin-bottom: 0; }
        #block-chat .full-message-block .username-inbox .block-username .active-status {
          margin-bottom: 0;
          font-size: 13px;
          color: #42B72A; }
      #block-chat .full-message-block .username-inbox .block-username:hover {
        cursor: pointer;
        background-color: #e6e4e4;
        border-radius: 10px; }
      #block-chat .full-message-block .username-inbox .block-call {
        float: right;
        margin-top: 5.4px; }
        #block-chat .full-message-block .username-inbox .block-call button {
          padding: 10px 10px 6px 10px;
          background-color: #fff;
          border: none; }
          #block-chat .full-message-block .username-inbox .block-call button i {
            color: #0084ff;
            font-size: 20px; }
        #block-chat .full-message-block .username-inbox .block-call button:hover {
          cursor: pointer;
          background-color: #e6e4e4;
          border-radius: 10px; }
        #block-chat .full-message-block .username-inbox .block-call button:focus {
          outline: none; }

.btn-outline-success {
  position: absolute;
  top: 8px;
  right: 10px;
  border-radius: 8px;
  font-size: 20px; }

.full-form-login {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right, #000000, #ffffff);
  background-image: url("https://i.pinimg.com/originals/8c/a7/87/8ca787d349e1fe427095f749c300e7a7.jpg"); }

.form-room {
  width: 25%;
  height: 462px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid 0.1px #0084ff;
  border-radius: 50px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  background-color: #fff; }

.input-info-room {
  padding: 10px 40px;
  width: 100%;
  font-size: 20px;
  border: solid 0.1px #b5b0b0;
  border-radius: 10px; }

.input-info-room:focus {
  outline: none; }

.title {
  display: flex;
  justify-content: center;
  color: #333; }

.input-form-room {
  position: absolute;
  width: 90%;
  height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.form-create-account {
  width: 25%;
  height: 462px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 50px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  background-color: #fff; }
  .form-create-account .create-account {
    position: absolute;
    width: 90%;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .form-create-account .create-account h3 {
      margin-bottom: 20px; }
    .form-create-account .create-account .input-create-account {
      padding: 8px 20px;
      margin-bottom: 15px;
      width: 100%;
      font-size: 16px;
      border: solid 0.1px #b5b0b0;
      border-radius: 10px; }
    .form-create-account .create-account #birthday {
      padding: 4px;
      font-size: 16px; }
    .form-create-account .create-account .input-gender {
      margin-right: 10px; }
    .form-create-account .create-account .btn-create-account {
      font-size: 20px;
      padding: 9px 8px;
      width: 70%;
      margin-left: 15%;
      margin-top: 30px;
      background-color: #42B72A;
      color: #fff;
      border-color: #42B72A;
      border-radius: 10px; }

.form-input-room {
  width: 500px; }

.block-create-account {
  padding-top: 30px;
  margin-top: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  border-top: 1px solid #b5b0b0; }
  .block-create-account button {
    background-color: #42B72A;
    padding: 9px 15px;
    border: none;
    border-radius: 10px; }

.link-create-room {
  font-size: 20px;
  color: #fff; }

.control-row {
  background-color: #fff;
  margin: 8px;
  padding: 0px 10px;
  border: none;
  background-color: #F0F2F5;
  border-radius: 50px; }
  .control-row .btn-send-mess {
    float: right;
    padding: 6px 8px 2px 8px;
    margin-right: 8px;
    font-size: 16px;
    background: #F0F2F5;
    color: #0084ff;
    border: none; }
    .control-row .btn-send-mess i {
      font-size: 20px; }
  .control-row .btn-send-mess:focus {
    outline: none; }
  .control-row .btn-send-mess:hover {
    opacity: 0.6;
    cursor: pointer; }

.input-login {
  padding: 10px 40px;
  width: 100%;
  font-size: 20px; }

.lable-login {
  font-size: 20px;
  margin: 13px 0px 2px 5px; }

.btn-login {
  font-size: 20px;
  padding: 9px 8px;
  width: 100%;
  margin-top: 20px;
  background-color: #0084ff;
  color: #fff;
  border-color: #0084ff;
  border-radius: 10px; }

.btn-login:hover {
  opacity: 0.6; }
