<form action="/user/loginPost" method="POST">
    <h3>Đăng nhập</h3>
    <div class="form-group">
        <label for="userName">Tài khoản</label>
        <input type="text" name="userName" class="form-control" id="userName" placeholder="Nhập tài khoản">
    </div>
    <div class="form-group">
        <label for="passwordUser">Mật khẩu</label>
        <input type="password" name="password" class="form-control" id="passwordUser" placeholder="Nhập mật khẩu">
    </div>

    <button type="submit" class="btn btn-primary">Đăng nhập</button>
    <a href="/user/register">Đăng ký</a>
</form>