<form action="/user/registerPost" , method="POST">
    <h3>Đăng ký</h3>
    <div class="form-group">
        <label for="userName">Tài khoản</label>
        <input type="text" name="userName" class="form-control" id="userName" placeholder="Nhập tài khoản">
    </div>
    <div class="form-group">
        <label for="passwordUser">Mật khẩu</label>
        <input type="password" name="password" class="form-control" id="passwordUser" placeholder="Nhập mật khẩu">
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Nhập email">
    </div>

    <button type="submit" class="btn btn-primary">Đăng ký</button>
</form>