<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <form class="form-inline my-2 my-lg-0" action="/user/logout">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Đăng xuất</button>
    </form>
    <div class="form-room">  
        <div class="input-form-room">
            <h2 class="title">GIA NHẬP PHÒNG</h2>
            <form class="form-input-room" action="/user/chat" method="post">
                <div id="input-room" >
                    <select class="input-info-room" type="text" name="roomName" placeholder="Room">
                        {{#each listRoom}}
                        <option value="{{this.roomName}}">{{this.roomName}}</option>
                        {{/each}}
                    </select>
                </div>
                <div id="input-name">
                    <input  class="input-info-room" type="text" required name="userName" placeholder="Tên hiển thị">
                </div>
                
                <div id="input-password">
                    <input  class="input-info-room" type="password" id="password" name="password" placeholder="Mật khẩu phòng">
                </div>
                <div class="block-btn-login">
                    <button class="btn-login" type="submit">
                        Gia nhập
                    </button>
                    <a class="link-create-room" href="/room/createGet">Tạo phòng</a>
                </div>
            </form>
            
            
            
        </div>
    </div>
    
    
</body>

</html>