<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <form action="/user/chat" method="post">
        <h2>Join room</h2>
        <div id="input-name">
            <input type="text" required name="userName" placeholder="Name">
        </div>
        <div id="input-room">
            <select type="text" name="roomName" placeholder="Room">
                {{#each listRoom}}
                <option value="{{this.roomName}}">{{this.roomName}}</option>
                {{/each}}
            </select>
        </div>
        <div id="input-password">
            <input type="password" id="password" name="password" placeholder="Password">
        </div>
        <div>
            <button type="submit">
                Join
            </button>
        </div>
    </form>
    <button>
        <a href="/room/createGet">Tạo phòng mới</a>
    </button>
    <form class="form-inline my-2 my-lg-0" action="/user/logout">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Đăng xuất</button>
    </form>
</body>

</html>