<form action="" , method="POST">
    <h3>Tạo phòng mới</h3>
    <div class="form-group">
        <label for="userName">Tên phòng</label>
        <input type="text" name="name" class="form-control" id="name" placeholder="Nhập tên phòng">
    </div>
    <div class="form-group">
        <label for="passwordUser">Mật khẩu phòng</label>
        <input type="password" name="password" class="form-control" id="password" placeholder="Nhập mật khẩu phòng">
    </div>

    <button type="submit" class="btn btn-primary">Tạo phòng</button>
</form>